@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyEats </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            min-width: 230px;
            max-width: 500px;
            box-sizing:border-box;
            margin:0;
            padding: 0;
        }

        .options {
            width: 100%;
            height: 100%;
        }
        .main{
            display:flex;
            flex-direction:column;
            max-height:100vh;
            max-width: 500px;
            min-width: 320px;
        }
        
        .color-wine{
            background: #AF3333;
        }
        li{
            list-style-type: none
        }
        .header{
            width: 100%;
        }
        .containerNav{
            width:100%;
        }

        .containerDiv{
            display:flex;
        }

        .containerUl{
            display: flex;
            flex-direction: row;
            margin:10px;
            padding: 5px;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            flex-flow: wrap;
            gap:10px;
        }
        .containerUlFooter{
            justify-content: space-evenly;
        }

        .footer{
            width:100%;
            display: flex;
            min-height:7vh;
            align-items: center;
            justify-content: center;
        }
        .textFooter{
            color:white;
        }
        </style>
</head>
<body>
    <header class="color-wine header">
        <nav class="containerNav">
            <div class="containerDiv">
                <ul class="containerUl">
                    <li class="btn btn-outline-light">
                        <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                    </li>
                    <li class="btn btn-outline-light">
                        <a class="text-light" asp-area="" asp-controller="Cliente" asp-action="CardapioLanches">Cardápio</a>
                    </li>
                    <li class="btn btn-outline-light">
                        <a class="text-light" asp-area="" asp-controller="ItemPedidos" asp-action="Pedido">Pedidos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="options">
        <main class="main">
            @RenderBody()
        </main>
    </div>

    <footer class=" color-wine footer">
        <p class="textFooter">©Todos os direitos reservados</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
