
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Desculpe!</h1>
<h4>
    Seu usuário não possui permissão para acessar está página, entre em contato com um usuário administrador para configurar essa permissão
</h4>

