@using System.Security.Claims;
@{
    ViewData["Title"] = "LayoutCardapio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<head>
    <style>
        .navCardapio {
            width: 100vh;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .imagemApresentation {
            background-size: cover;
            width: 100%;
            display: block;
        }

        .image-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            text-align: center;
            position: absolute;
            color: aliceblue;
            font-weight: 700;
        }

        .navTipos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-grow: 1;
            flex-flow: wrap;
            width: 100%;
            height: 50px;
        }

        .navProdutos {
            text-decoration: none;
            color: #66482B;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <nav class="navCardapio">
        <img class="imagemApresentation" src="~/assets/ToWebdesign/BkgOrangeBlock.svg" />
        <p class="image-text">Cardápio Digital</p>
    </nav>
    <header>
        <nav class="navTipos">
            <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioLanches">Lanches</a>
            <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioBebidas"> Bebidas </a>
            <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioSobremesas"> Sobremesas </a>
            <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioOutros"> Outros </a>
        </nav>
    </header>
    <main role="main" >
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>