@model IEnumerable<backend.Models.Produto>

@{
    ViewData["Title"] = "Cardapio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<head>
    <title>@ViewData["Title"] - Prato Principal</title>
    <style>
        .body:{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            min-width: 230px;
            max-width: 500px;
            padding:0;
            margin:0;
        }

        .navCardapio{
            width: 100%;
            display:flex;
            align-items:center;
            justify-content:center;
            margin:0;
            margin-bottom:10px;
            padding:0;
        }

        .imagemApresentation{
            background-size:cover;
            width:100%;
            display: block;
        }

        .image-text{
            display:flex;
            align-items:center;
            justify-content:center;
            font-size: 32px;
            text-align: center;
            position: absolute;
            color:aliceblue;
            font-weight:700;
        }

        .navTipos{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:30px;
            flex-grow:1;
            flex-flow:wrap;
   
            width:100%;
            height: 50px;
        }

        .navProdutos {
            text-decoration:none;
            color:#66482B;
            font-weight: 700;
        }
        .main{
            margin: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-content: center;
            flex-grow:1;
            flex-flow: wrap;
            gap:8px;
            overflow:hidden;
            overflow-y:auto;
        }
        .card{
            width:130px;
            height:130px;
            border-radius:10px;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 2px black;
        }
        .imgCard{
            background: #CECECE; 
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .textCard{
            background: #FFFFFF;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content:center;
            color: #66482B;
            text-decoration:none;
            font-size:85%;
        }

        
    </style>

</head>
<body class="body">
    <nav class="navCardapio">
        <img class="imagemApresentation" src="~/assets/ToWebdesign/BkgOrangeBlock.svg" />
        <p class="image-text">Cardápio Digital</p>
    </nav>
    <header>
        <nav class="navTipos">
            <a class="navProdutos">Lanches</a>
            <a class="navProdutos"> Bebidas </a>
            <a class="navProdutos"> Sobremesas </a>
            <a class="navProdutos"> Outros </a>
        </nav>
    </header>
    <main class="main">
        @foreach ( var item in Model)
        {
            <div class="card">
                <div class="imgCard">
                    <img src="~/assets/@{
                    @item.Imagem}"
                    alt="Produto: @item.Nome"
                    width="80%" height="80%"/>
                </div>
                
                <a class="textCard"> @item.Nome</a>
            </div>
        }
    </main>
    

    
</body>
