@model IEnumerable<backend.Models.ItemPedido>

@{
    ViewData["Title"] = "Pedido";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<header>
    <style>
        .containerImagem {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .imagemApresentation {
            background-size: cover;
            width: 100%;
            display: block;
        }

        .image-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            text-align: center;
            position: absolute;
            color: aliceblue;
            font-weight: 700;
        }

        .divSolictConta{
            display:flex;
            justify-content:center
        }
    </style>
</header>

<nav class="containerImagem">
    <img class="imagemApresentation" src="~/assets/ToWebdesign/BkgOrangeBlock.svg" />
    <p class="image-text">Pedidos</p>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Qntd</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @{
                        var valorTotal = item.Produto.Valor * item.Quantidade;
                    }
                    R$ @valorTotal
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="divSolictConta">
<a class="btn btn-success">Solicitar Conta</a>
</div>
