@using System.Security.Claims;
@{
    ViewData["Title"] = "LayoutCardapio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<head>
    <style>
        .containerImagem {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .imagemApresentation {
            background-size: cover;
            width:100%;
            display:block;
        }

        .image-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            text-align: center;
            position: absolute;
            color: aliceblue;
            font-weight: 700;
        }
        .header:{
            width:100vw;
        }
        .navTipos {
            margin: 2vh 1vw;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px;
            flex-grow: 1;
            flex-flow: wrap;
            width: 100%;
            height: 50px;
        }

        .navProdutos {
            text-decoration: none;
            color: #66482B;
            font-weight: 700;
        }
    </style>
</head>

<div>
    <nav class="containerImagem">
        <img class="imagemApresentation" src="~/assets/ToWebdesign/BkgOrangeBlock.svg" />
        <p class="image-text">Cardápio Digital</p>
    </nav>
    <nav class="navTipos">
        <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioLanches">Lanches</a>
        <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioBebidas"> Bebidas </a>
        <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioSobremesas"> Sobremesas </a>
        <a class="navProdutos" asp-area="" asp-controller="Cliente" asp-action="CardapioOutros"> Outros </a>
    </nav>
    
</div>
<div>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</div>